
body{
     background-color: white;
     padding: 30px;
}

link{
    color: #e08e37ff;
}
a:hover{
    color:#513d32ff;
    font-size: 25px;
    text-decoration: underline;
}

.header{
    text-align:right;
    word-spacing: 30px;
    background-color: white;
    font-size: 20px;
   
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    width: fit-content;
    background-image: url(purplewallpaper.jpg);
    color: white ;
}


.workexp{
    text-align: left;
    padding-top: 50px;
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400px;
}

.edu{
    padding-top: 150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}

.ra{
    padding-top: 150px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 50px;
    
}

.rc{
    padding-top: 150px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.obj {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-style: italic;
}