body{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 4px;
    background-color:rgba(red, green, blue, alpha);
    width: auto;
    height:auto;
    

}

.header{
    text-align:right;
    word-spacing: 30px;
    background-color: #513d32ff;
    font-size: 20px;
    color:#513d32ff;
    background: fixed;
}

link{
    color: #e08e37ff;
}
a:hover{
    color:#513d32ff;
    font-size: 25px;
    text-decoration: underline;
}



.container{
    text-align: center;
    
    
}

.box{
    background-color: #e08e37ff;
    height:20px;
}

.box{
    padding: 100px;
}

.content{
    line-height: 13px;
    text-align:left;
    padding-right: 25%;
    padding-left: 10%;
    
}

.abtme{
    text-align: center;
    padding: 90px;
    background-color: #f5b944ff;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}



.box3{
    border: 1px solid black;
    width: 100px;
    padding: 30px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
}

.box4{
    border: 1px solid black;
    width: 100px;
    padding: 30px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
}

.container2{
    text-align: center;
    padding-left: 350px;
    
}

.skills{
    text-align: left;
    
    padding: 100px;
    background-color: #e08e37ff;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}

.hire{
    text-align: center;
    
}

footer{
    height: 30px;
    text-align: center;
    padding-top: 20px;
    
}
